<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1800, initial-scale=10">
    <title>ADAMANTO | Архитектурное бюро</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    <script>
        if (parseInt(window.innerWidth) < 1800) {
            document.querySelector('meta[name="viewport"]').setAttribute("content", "width=device-width, initial-scale=1.0");
        }   
    </script>
</head>
<body>
<header class="catalog-header">
    <div class="logo-location-group">
        <div class="logo-group">
            <img src="/static/images/logo.webp" alt="">
            <p>ADAMANTO</p>
        </div>
        <div class="location">
            <img src="/static/images/map-pin.webp" alt="">
            <p>г. Казань</p>
        </div>
    </div>
    <nav>
        <p>Главная</p>
    </nav>
    <div class="profile-group">
        <div class="phone-group">
            <img src="/static/images/phone.webp" alt="">
            <p>+7 919 634-12-19</p>
        </div>
    </div>
</header>
<main class="catalog">
<section class="catalog-cover">
    <h1>ADAMANTO</h1>
    <div class="cta-btn catalog-cta-btn">Заказать проект</div>
</section>
<section class="catalog-items">
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div></div>
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div></div>
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div></div>
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div></div>
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div></div>
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div></div>
    <div class="catalog-item">
        <div class="catalog-item-img-container"></div>
        <div class="catalog-item-description">
            <div class="catalog-description-info">
                <h3>Stone Cottage</h3>
                <p class="catalog-price">25000₽</p>
            </div>
            <div class="catalog-description-area">118М²</div>
        </div></div>
</section>
</main>
<footer>
    <div class="footer-inner">
        <div class="footer-img"><img src="/static/images/logo-name.webp" alt=""></div>
        <div class="footer-menu">
            <div class="footer-cta">Заказать проект</div>
            <p>Услуги</p>
            <p>Каталог</p>
        </div>
        <div class="contact-group">
            <p><img src="/static/images/phone.webp" alt="">avaaant.ru@gmail.com</p>
            <p><img src="/static/images/phone.webp" alt="">+7 919 634-12-19</p>
            <p><img src="/static/images/map-pin.webp" alt="">г. Казань</p>
        </div>
    </div>
    <div class="credits">
        Designed by <a href="https://t.me/k_volchihina" target="_blank">@k_volchihina</a> | Developed by <a href="https://t.me/kekartem" target="_blank">@kekartem</a>
    </div>
</footer>
</body>
</html>