<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1800, initial-scale=10">
    <title>ADAMANTO | Архитектурное бюро</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <script>
        if (parseInt(window.innerWidth) < 1800) {
            document.querySelector('meta[name="viewport"]').setAttribute("content", "width=device-width, initial-scale=1.0");
        }   
    </script>
</head>
<body>
<header class="catalog-header">
    <div class="logo-location-group">
        <div class="logo-group">
            <img src="{{ url_for('static', path='/images/logo.webp') }}" alt="">
        </div>
        <div class="location">
            <img src="{{ url_for('static', path='/images/map-pin.webp') }}" alt="">
            <p>г. Казань</p>
        </div>
    </div>
    <nav>
        <p>Главная</p>
    </nav>
    <div class="profile-group">
        <div class="phone-group">
            <img src="{{ url_for('static', path='/images/phone.webp') }}" alt="">
            <p>+7 919 634-12-19</p>
        </div>
    </div>
</header>
<main class="main-project">
<section class="project-overview">
    <div class="project-images">
        <div class="project-main-image"></div>
        <div class="project-images-row">
            <div class="project-images-row-item selected"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
            <div class="project-images-row-item"></div>
        </div>
    </div>
    <div class="project-description">
        <h1>Кирпичные дома</h1>
        <p>Кирпич – традиционный строительный материал для загородного строительства в нашем климате. Известен как надежный, экологически чистый и долговечный материал для стен. Срок эксплуатации кирпичного дома – больше 100 лет.</p>
        <p>Кладка из керамического кирпича не требует дополнительной отделки фасада. При этом стены будут устойчивы к влаге, любым погодным условиям.</p>
        <p>Еще один его несомненный плюс – высокая шумоизоляция, огнеупорность.</p>
        <p>Преимущества данной технологии:</p>
        <ul>
            <li>Долговечность</li>
            <li>Простота ухода за фасадом</li>
            <li>Шумоподавление</li>
            <li>Экологичность</li>
            <li>Огнеупорность</li>
        </ul>
        
        <div class="project-description-btn">Заказать проект</div>
    </div>
</section>
<section class="tech tech-single">
    <div class="tech-cards">
        <div class="tech-card">
            <div class="tech-card-img-container"><img src="{{ url_for('static', path='/images/tech/tech2/cover.jpg') }}" alt=""></div>
            <div class="tech-description">
                <h3>Деревянные дома</h3>
                <p>Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</p>
                <div class="tech-learn-more">
                    <a href="/tech/1"><h4>Смотреть примеры</h4>
                    <img src="/static/images/arrow-right-tech.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="tech-card">
            <div class="tech-card-img-container"><img src="/static/images/tech-wood.png" alt=""></div>
            <div class="tech-description">
                <h3>Каменные дома</h3>
                <p>Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</p>
                <div class="tech-learn-more">
                    <a href="/tech?id=2"><h4>Смотреть примеры</h4>
                    <img src="/static/images/arrow-right-tech.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="tech-card">
            <div class="tech-card-img-container"><img src="/static/images/tech-wood.png" alt=""></div>
            <div class="tech-description">
                <h3>Кирпичные дома</h3>
                <p>Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</p>
                <div class="tech-learn-more">
                    <a href="/tech?id=3"><h4>Смотреть примеры</h4>
                    <img src="/static/images/arrow-right-tech.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="popup-container">
    <div class="popup1">
        <h2>Отправить заявку</h2>
        <form class="main-apply-form" action="/submitmessage" method="POST">
            <input type="text" name="name" placeholder="Ваше имя" required>
            <input type="email" name="email" placeholder="Ваш email" required>
            <input type="text" name="phonenumber" placeholder="Ваш телефон" required>
            <textarea name="message" id="" cols="30" rows="5" placeholder="Сообщение"></textarea>
            <button class="main-apply-form-btn">
                Отправить заявку
            </button>
        </form>
        <div class="close"><img src="/static/images/cross.webp" alt=""></div>
    </div>
</div>
</main>
<footer>
    <div class="footer-inner">
        <div class="footer-img"><img src="/static/images/logo.webp" alt=""></div>
        <div class="footer-menu">
            <div class="footer-cta">Заказать проект</div>
            <p>Услуги</p>
            <p>Каталог</p>
        </div>
        <div class="contact-group">
            <p><img src="/static/images/mail.webp" alt="">avaaant.ru@gmail.com</p>
            <p><img src="/static/images/phone.webp" alt="">+7 919 634-12-19</p>
            <p><img src="/static/images/map-pin.webp" alt="">г. Казань</p>
        </div>
    </div>
    <div class="credits">
        Designed by <a href="https://t.me/k_volchihina" target="_blank">@k_volchihina</a> | Developed by <a href="https://t.me/kekartem" target="_blank">@kekartem</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"></script>
<script>
let main_image = document.querySelector('.project-main-image')
main_image.style.background = "url({{ url_for('static', path='/images/tech/tech2/1.jpg') }})"
main_image.style.backgroundSize = 'cover'
main_image.style.backgroundPosition = 'center'

let images_small = document.querySelectorAll('.project-images-row-item')
let images_names = []
for (let i = 0; i < 10; i++) {
    images_names.push(`{{ url_for('static', path='/images/tech/tech2/${i+1}.jpg') }}`)
}



let i = 0
images_small.forEach(function(item) {
    item.addEventListener('click', function() {
        document.querySelector('.selected').classList.remove('selected')
        item.classList.add('selected')
        main_image = document.querySelector('.project-main-image')
        main_image.style.background = getComputedStyle(item).background;
        main_image.style.backgroundSize = 'cover'
        main_image.style.backgroundPosition = 'center'
    })
    item.style.background = `url(${images_names[i]})`
    item.style.backgroundSize = 'cover'
    item.style.backgroundPosition = 'center'
    i += 1
})
</script>
<!-- Popup window -->
<script>
    let popup_container = document.querySelector('.popup-container')
    let popup = document.querySelector('.popup1')
    document.querySelector('.project-description-btn').addEventListener('click', function() {
        popup.style.display = 'flex'
        popup_container.style.display = 'flex'
        anime({
            targets: popup_container,
            opacity: 1,
            easing: 'easeInOutQuad',
            duration: 500,
        })
    })

    document.querySelector('.footer-cta').addEventListener('click', function() {
        popup.style.display = 'flex'
        popup_container.style.display = 'flex'
        anime({
            targets: popup_container,
            opacity: 1,
            easing: 'easeInOutQuad',
            duration: 500,
        })
    })

    popup_container.addEventListener('click', function(e) {
        if (e.target !== this) {
            return
        }
        anime({
            targets: popup_container,
            opacity: 0,
            easing: 'easeInOutQuad',
            duration: 200,
            complete: function() {
                popup_container.style.display = 'none'
            }
        })
    })

    document.querySelector('.close').addEventListener('click', function() {
        anime({
            targets: popup_container,
            opacity: 0,
            easing: 'easeInOutQuad',
            duration: 200,
            complete: function() {
                popup_container.style.display = 'none'
            }
        })
    })

    document.addEventListener('keydown', function(e) {
        if (event.key == 'Escape') {
            anime({
                targets: popup_container,
                opacity: 0,
                easing: 'easeInOutQuad',
                duration: 200,
                complete: function() {
                    popup_container.style.display = 'none'
                }
            }) 
        }
    })
</script>
</body>
</html>